# Ignore datasets
*/dataset*/
*/dataset_old/
*/knowledgeGraph/dataset/
*/dataset/
*.zip
*/cache/

# Ignore models
*.h5
*.hdf5
*.keras
*.pth

# Ignore virtual environments
venv/

# Ignore IDE files
*.vim

# Ignore jupyter stuff
.ipynb_checkpoints/
__pycache__/

# Ignore vscode files
.vscode/

# Ignore other folders
MLExercise/